.tiles {
    padding-top: 80px;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

.Tile__image {
    margin: auto;
    display: block;
    background-color: gray;
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
}

.Tile__image:hover {
    transform: scale(101%);
    transition: 0.1s;
}
